<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects at Betsearch</title>
</head>
<body>
{% extends 'main.html' %}

{% block content %}

<p> Hello you are on the {{page}} page.</p>

<h1>This is the projects template.</h1>
<hr>

    <h1>Projects</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Votes</th>
            <th></th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.vote_ratio }}%</td>
                <td>{{ project.vote_total }}</td>
                <td>{{ project.created }}</td>
                <td><a href="{% url 'project' project.id %}">View</a></td>
            </tr>
        {% endfor %}
    </table>

</body>

{% endblock content %}

</html>